*~
application/config/database.php
application/config/auth_ldap.php
application/config/skeleton_auth.php

.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

application/third_party/grocery-crud/
application/third_party/image-crud/
