<center><p><font size="-3">© <a href="<?php echo $copyright_url;?>"><?php echo $copyright_app_name;?></a> <?php echo lang('application_of');?><a href="<?php echo $copyright_entity_url;?>" rel="author"> <?php echo $copyright_entity_name;?> (<?php echo $copyright_entity_url_name;?>)</a><br/><?php echo lang('created by');?> <?php echo $copyright_authors_html;?>
    | <a href="https://plus.google.com/u/0/b/113949469354046983710/113949469354046983710/about/p/pub" rel="publisher">
	<i class="icon-google-plus"></i>Ebre-escool a Google+</a></font></p>
</center>

<center><p>
<div id="social_likes" style="width: 50%; margin: 0 auto;">	
	<div class="fb-like center-block" data-href="https://www.facebook.com/ebreescool" data-layout="standard" data-action="like" data-show-	faces="true" data-share="true" >
	</div>	
</div>
</p><div class="g-plusone" data-annotation="inline" data-width="300"></div></center>



<div id="fb-root"></div>

<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ca_ES/sdk.js#xfbml=1&appId=397727760390487&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

     	
